@import "tailwindcss";
@font-face {
  font-family: "Inter Tight";
  src: url("/InterTight-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter Tight", sans-serif;
  /* letter-spacing: 1/; */
}

.input {
  @apply w-full border border-black/20 rounded-lg px-4 py-3 focus:outline-none focus:border-black transition;
}

/* Offset for fixed header when scrolling to anchors */
[id] {
  scroll-margin-top: 5rem;
}

@media (min-width: 768px) {
  [id] {
    scroll-margin-top: 6rem;
  }
}
